@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Lora&family=Merriweather:ital,wght@1,300&family=Playball&display=swap');

body{
  font-family: "work sans";
  margin: 0;
}

html{
  font-size: 100%;
}

#loginform{
    max-width: 500px;
    width: 80%; 
    height: 78vh;
    margin: 5% auto; 
    background-color: #FFFFFF;
    border-radius: 25px;
    overflow: hidden;
}

.back_signin{
    padding-left: 15px;
    padding-top: 15px;
}
#headerTitle{
  text-align: center;
  font-family: 'Lora', serif;
  padding-top: 15px;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 10px;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 0.75;
  transition: opacity 0.25s ease-out;
  font-size: 15px;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  font-size: 17px;  
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgb(0, 234, 255) 0%,     rgb(55, 45, 253) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-top: 10px;
}



#iconGroup{
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-left: 5px;
}




#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 11px;
}


